@import url("./variables.css");

* {
  box-sizing: border-box;
}

main {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-blue-900);
  color: white;
  font-family: "Victor Mono";

  margin: 0 auto;
}

html,
body,
#__nuxt,
.app {
  height: 100dvh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-block: 0;
}

h1 {
  font-size: var(--size-txt-m);
}

button {
  cursor: pointer;
  border-color: transparent;
}

nav > ul {
  list-style: none;

  margin-block: 0;
  padding-left: 0;
}

p {
  line-height: 1.8;
  margin-block: 2rem;

  &.intro {
    font-size: var(--size-txt-l);
    font-weight: 700;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.container {
  padding: var(--padding-container);
  position: relative;
}

.max-w {
  width: 100%;
  max-width: 2000px;
  margin-inline: auto;
}

.cta-wrapper {
  display: flex;
  gap: 2rem;

  @media screen and (min-width: 768px) {
    margin-top: 3rem;
  }
}
