@import "tailwindcss";

@theme {
  --color-primary: #314CB6;
  --color-secondary: #EFBDEB;
  --color-primary-blue: #0A81D1;
  --color-african-violet: #B68CB8;

  --font-family-sans: "Albert Sans", sans-serif;
  --font-family-heading: "Permanent Marker", hand-writing;
}

html {
  scroll-behavior: smooth;
}