---
import IconGitHub from "../components/IconGitHub.astro";
import IconLinkedIn from "../components/IconLinkedIn.astro";
import "../styles/global.css";
---
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferdinand Niemann</title>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=albert-sans:200,300,500,700,900|permanent-marker:400" rel="stylesheet" />
  </head>
  <body>
    <header class="fixed p-4 inset-x-4 md:inset-x-24 top-4 z-50 flex gap-8 backdrop-blur-md bg-black/20 border-2 border-white/10 rounded shadow-md md:w-fit">
      <a href="#" class="mr-auto">
        <h1 class="text-white hover:text-secondary font-black uppercase tracking-widest">Ferdinand Niemann</h1>
      </a>
      <a href="https://github.com/ferniemann" target="_blank" class="text-secondary hover:text-white">
        <IconGitHub size="24" />
      </a>
      <a href="https://linkedin.com/in/ferniemann" target="_blank" class="text-secondary hover:text-white">
        <IconLinkedIn size="24" />
      </a>
    </header>
    <slot />
  </body>
</html>